* {
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(rgb(0, 145, 255), rgba(0, 162, 255, 0.636), white);
    margin: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    padding: 5px;
    border-bottom: 1px solid rgba(66, 64, 64, 0.452);
}

table,
th,
td {
    border: 0.3px solid rgba(66, 64, 64, 0.452);
    border-collapse: collapse;
    padding: 14px;
    text-align: left;
}

th {
    padding: 14px 12px;
}

td {
    font-weight: 500;
    color: rgb(0, 0, 0);
}

input[type=radio] {
    transform: scale(1.6);
}

input[type=checkbox] {
    transform: scale(3);
    margin: 2rem;
}

.table {
    margin-bottom: 3rem;
}

div {
    padding: 8px 0;
}

.rate input {
    margin: 0 1.5rem;
}

.suggestion {
    margin-bottom: 3rem;
    width: 100%;
}

.robot {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 3rem 0;
    margin-left: 37%;
    border-radius: 3px;
    width: 26%;
    font-weight: normal;
    font-size: 16px;
}

.cycle {
    position: absolute;
    right: 10px;
    font-size: small;
    color: rgba(0, 0, 0, 0.974);
    line-height: 16px;
    font-weight: normal;
}

.submit {
    color: #fff;
    float: right;
    padding: 14px;
    width: 120px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    background-color: #000;
    margin-bottom: 40px;
    margin-right: 16px;
}