.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

tr:nth-child(odd) {
  background-color: rgb(205, 235, 253);
}

tr:nth-child(even) {
  background-color: rgb(155, 155, 155);
}

form {
  text-align: center;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 930px) {
  form td:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  form td:last-child button {
    font-size: 16px;
  }
}

form * {
  font-size: 25px;
}

h2 {
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem;
}

button {
  padding: 2px 4px;
  margin: 2px 4px;
  border-radius: 3px;
}

.new-btn {
  font-size: 24px;
  padding: 6px 12px;
  margin: 1rem 1rem 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.editrow {
  width: 100%;
}
